<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>A colorejar!</title>
	<meta charset="UTF-8"/>
	<link rel="stylesheet"
      th:href="@{/css/colors.css}"
      href="../../css/colors.css"/>
       
      <script type="text/javascript"
         th:src="@{/js/jquery-2.1.3.js}" 
         src="../../js/jquery-2.1.3.js"></script>
	<script type="text/javascript" th:inline="javascript">
/*<![CDATA[*/     
		$(document).ready(function(){
		  
		  $('#requadre').css('background-color', [[${color.angles}]]);
		  $('h1').css('background-color', [[${color.angles}]]);		  
		});
/*]]>*/
	  </script>
</head>
<body>
<div id="main">
	<div id="requadre"></div>
	<div id="text">
	<h1 th:text="#{color.app}">Color</h1>	
    <p><span th:text="#{color.catala}">Catala:</span><span class="valor" th:text="${color} ? ${color.catala}">color</span></p>
    <p><span th:text="#{color.frances}">Francès:</span><span class="valor" th:text="${color} ? ${color.frances}">coleur</span></p>
    <p><span th:text="#{color.castella}">Castellà:</span><span class="valor" th:text="${color} ? ${color.castella}">color</span></p>
    <p><span th:text="#{color.angles}">Anglès:</span><span class="valor" th:text="${color} ? ${color.angles}">color</span></p>
    </div>
    
    <p><a href="color" th:href="@{/colors}" th:text="#{colors.llista}">Llista de colors</a></p>
</div>
</body>
</html>